/*set default font family and color*/
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/*set dimensions and placement of navbar*/
.navbar{
    text-align: right;
    padding: 25px 0 15px 20px;
    width: 940px;
    height: 28px;
    margin: -8px auto -27px auto;
}

/*set font family and color of section headers*/
header{
    font-family: 'Georgia', Times, Times New Roman, Times, serif;
    color: #4aaaa5;
}

/*set colors and placement of logo/nameplate*/
.logo{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 23px 20px 20px 20px;
    width: 233px;
    height: 28px;
    margin: -28px auto 0 -20px;
    float: left;
}

/*display navbar text as plain text, set text color, and add space between links via padding*/
.navbar-link{
    text-decoration: none;
    color: #777777;
    padding: 0 5px 0 5px;
}

/*style navbar dividers to conform aesthetically with links*/
.navbar-divider{
    color: #777777;
    padding: 0 5px 0 5px;
}

/*set imported background image behind main content and add border between background and navbar*/
.background{
    background-image: url(../images/concrete_seamless.png);
    padding: 20px 10px 100px 10px;
    border-top: solid;
    border-color: #cccccc;
    border-width: 2px;
    margin: 27px -10px 0 -10px;
}

/*set color, dimensions, and placement of box containing main page info*/
.container{
    background-color: #ffffff;
    width: 920px;
    padding: 10px 20px 10px 20px;
    margin: 20px auto 0 auto;
}

/*contain section header within its own row in order to create border between header and detailed info below*/
.header-row{
    border-bottom: solid;
    border-color: #dddddd;
    border-width: 3px;
    margin-bottom: 22px;
}

/*set profile picture to have the text wrap around it*/
#profile-picture{
    float: left;
    padding-right: 30px;
}

/*add space between lines of text in paragraphs*/
p{
    line-height: 200%;
}

/*set color, dimensions, and placement of footer; add border between background and footer*/
footer{
    background-color: #666666;
    height: 60px;
    border-top: solid;
    border-color: #4aaaa5;
    border-width: 8px;
    margin: 0 -10px 0 -10px;
}

/*center copyright notice within footer, set color, and place at bottom*/
.footer-content{
    display: flex;
    justify-content: center;
    color: #cccccc;
    margin-top: 36px;
}

/*set dimensions of and placement of text within data forms*/
input, textarea{
    width: 895px;
    height: 5px;
    padding: 10px;
    margin-top: 5px;
}

/*set dimensions of message box*/
#message{
    width: 897px;
    height: 200px;
}

/*set colors, dimensions, and margins of "Submit" button*/
#submit{
    background-color: #4aaaa5;
    color: #ffffff;
    width: 105px;
    height: 35px;
    margin: -5px 0 10px 0;
}

/*set background images*/
.img{
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
}

/*pair pictures and links on the right with their partners on the left*/
#pic1, #pic3, #pic5{
    float: left;
}

/*see comment above*/
#pic2, #pic4{
    float: right;
    margin-right: 300px;
}

/*indicate paths to the respective image files*/

#pic1{
    background-image: url("../images/cat1.jpeg");
}

#pic2{
    background-image: url("../images/cat2.jpeg");
}

#pic3{
    background-image: url("../images/cat3.jpeg");
}

#pic4{
    background-image: url("../images/cat4.jpeg");
}

#pic5{
    background-image: url("../images/cat5.jpeg");
}

/*set up color and dimensions of miniature navbars and overlay them onto their background images*/
.bottomnav{
    text-align: center;
    background-color: #4aaaa5;
    width: 195px;
    height: 35px;
    padding-top: 15px;
    margin: 15% 0 0 -97px;
    position: absolute;
    bottom: 10px;
}

/*display link text as plain text and set text color*/
a{
    text-decoration: none;
    color: #ffffff;
}

/*add padding and margins to properly align images with links into uniform rows*/
.row{
    padding-bottom: 150px;
    margin-bottom: 75px;
}